.cart-quantity {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quantity-btn {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.quantity-btn:hover {
    background-color: #ddd;
}

/* Styling for quantity value */
.quantity-value {
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
}